# Data types and structures

## Assignment 2

1. What are data structures, and why are they important?    
Data structures are ways to organize and store data in a computer so it can be accessed and modified efficiently. They are important because they optimize data management, which affects the performance and scalability of software applications.

2. Explain the difference between mutable and immutable data types with examples.   
Mutable data types can be changed after they are created (e.g., lists, dictionaries, sets). Immutable data types cannot be changed once created (e.g., strings, tuples, integers).

3. What are the main differences between lists and tuples in Python?    
Lists are mutable and can be modified after creation, tuples are immutable and cannot be changed. Lists have more built-in methods, while tuples are generally faster and used for fixed collections.

4. Describe how dictionaries store data.    
Dictionaries store data as key-value pairs using a hash table for fast lookups. Each key hashes to an index where its value is stored.

5. Why might you use a set instead of a list in Python?     
Sets automatically remove duplicate elements and provide fast membership tests, which is useful when you need uniqueness and fast containment checks.

6. What is a string in Python, and how is it different from a list?     
A string is a sequence of characters and is immutable. A list is a sequence of elements (which can be different data types) and is mutable.

7. How do tuples ensure data integrity in Python?   
Because tuples are immutable, their elements cannot be changed after creation, ensuring that the data remains consistent and unmodified.

8. What is a hash table, and how does it relate to dictionaries in Python?      
A hash table is a data structure that uses a hash function to map keys to positions in an array for efficient lookup. Python dictionaries are implemented internally using hash tables.

9. Can lists contain different data types in Python?    
Yes, lists can contain elements of different data types within the same list.

10. Explain why strings are immutable in Python.    
Strings are immutable to ensure that hash values are consistent and to allow safe sharing and optimization like interning.

11. What advantages do dictionaries offer over lists for certain tasks?     
Dictionaries provide fast access to elements via keys, whereas lists require traversal or index access; thus, dictionaries are better for associative arrays and key-based lookup.

12. Describe a scenario where using a tuple would be preferable over a list.    
When you want to ensure the data does not change (e.g., coordinates, fixed configurations), tuples provide immutability guarantees.

13. How do sets handle duplicate values in Python?      
Sets automatically discard duplicates; each element is unique.

14. How does the "in" keyword work differently for lists and dictionaries?      
For lists, "in" checks for the presence of a value by scanning elements. For dictionaries, "in" checks if a key exists (not the value) and is very efficient.

15. Can you modify the elements of a tuple? Explain why or why not.     
No, tuples are immutable; once created, their elements cannot be modified to maintain data integrity and predictability.

16. What is a nested dictionary, and give an example of its use case?   
A nested dictionary is a dictionary where values are themselves dictionaries.
Example: Storing user profiles with nested details:

python
users = {
  'alice': {'age': 30, 'city': 'NY'},
  'bob': {'age': 25, 'city': 'LA'}
}
17. Describe the time complexity of accessing elements in a dictionary.     
Average case is O(1) due to hashing, though worst case can be O(n) if many collisions occur.

18. In what situations are lists preferred over dictionaries?   
When order matters, you need to store sequences of data, or when duplicate elements are allowed and/or position-based access is needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?     
Prior to Python 3.7, dictionaries did not maintain order. This affects retrieval order but not efficiency. Python 3.7+ maintains insertion order but underlying data retrieval is still by key, not index.

20. Explain the difference between a list and a dictionary in terms of data retrieval.      
Lists retrieve by position (index), dictionaries by key. Dictionary lookups are generally faster for key-based queries than lists

## Practical questions

In [2]:
# 1. Create a string with your name and print it.
name = "komal"
print(name)

komal

In [3]:
# 2. Find the length of the string "Hello World".
print(len("Hello World"))

11

In [4]:
# 3. Slice the first 3 characters from "Python Programming".
print("Python Programming"[:3])

Pyt

In [5]:
# 4. Convert the string "hello" to uppercase.
print("hello".upper())

HELLO

In [6]:
# 5. Replace "apple" with "orange" in "I like apple".
print("I like apple".replace("apple", "orange"))

I like orange

In [7]:
# 6. Create a list with numbers 1 to 5 and print it.
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [8]:
# 7. Append the number 10 to the list [1, 2, 3, 4].
lst2 = [1, 2, 3, 4]
lst2.append(10)
print(lst2)

[1, 2, 3, 4, 10]

In [10]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5].
lst3 = [1, 2, 3, 4, 5]
lst3.remove(3)
print(lst3)

[1, 2, 4, 5]

In [11]:
# 9. Access the second element in ['a', 'b', 'c', 'd'].
lst4 = ['a', 'b', 'c', 'd']
print(lst4[1])

b

In [12]:
# 10. Reverse the list [10, 20, 30, 40, 50].
lst5 = [10, 20, 30, 40, 50]
lst5.reverse()
print(lst5)

[50, 40, 30, 20, 10]

In [13]:
# 11. Create a tuple with 100, 200, 300 and print it.
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [14]:
# 12. Access second-to-last element of ('red', 'green', 'blue', 'yellow').
tup2 = ('red', 'green', 'blue', 'yellow')
print(tup2[-2])

blue

In [15]:
# 13. Find the minimum number in (10, 20, 5, 15).
print(min((10, 20, 5, 15)))

5

In [16]:
# 14. Find the index of "cat" in ('dog', 'cat', 'rabbit').
print(('dog', 'cat', 'rabbit').index("cat"))

1

In [17]:
# 15. Create a tuple of three fruits and check if "kiwi" is in it.
fruit_tup = ("apple", "banana", "cherry")
print("kiwi" in fruit_tup)

False

In [18]:
# 16. Create a set with 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [19]:
# 17. Clear all elements from {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [20]:
# 18. Remove element 4 from {1, 2, 3, 4}.
set2 = {1, 2, 3, 4}
set2.remove(4)
print(set2)

{1, 2, 3}

In [21]:
# 19. Find the union of {1, 2, 3} and {3, 4, 5}.
print({1, 2, 3} | {3, 4, 5})

{1, 2, 3, 4, 5}

In [22]:
# 20. Find the intersection of {1, 2, 3} and {2, 3, 4}.
print({1, 2, 3} & {2, 3, 4})

{2, 3}

In [23]:
# 21. Create a dictionary with keys "name", "age", "city" and print it.
d = {"name": "Alice", "age": 30, "city": "Paris"}
print(d)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [24]:
# 22. Add "country": "USA" to {'name': 'John', 'age': 25}.
d2 = {'name': 'John', 'age': 25}
d2["country"] = "USA"
print(d2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
# 23. Access the value for key "name" in {'name': 'Alice', 'age': 30}.
print({'name': 'Alice', 'age': 30}["name"])

Alice

In [26]:
# 24. Remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d3["age"]
print(d3)

{'name': 'Bob', 'city': 'New York'}

In [27]:
# 25. Check if key "city" exists in {'name': 'Alice', 'city': 'Paris'}.
print("city" in {'name': 'Alice', 'city': 'Paris'})

True

In [28]:
# 26. Create a list, tuple, and dictionary, then print them.
lst6 = [1, 2, 3]
tup3 = (4, 5, 6)
d4 = {"a": 1, "b": 2}
print(lst6, tup3, d4)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [29]:
# 27. Create a list of 5 random numbers between 1 and 100, sort and print it.
import random
rand_lst = [random.randint(1, 100) for _ in range(5)]
rand_lst.sort()
print(rand_lst)

[33, 64, 71, 79, 83]

In [30]:
# 28. Create a list of strings and print the element at index 3.
str_lst = ["apple", "banana", "cherry", "date", "elderberry"]
print(str_lst[3])

date

In [31]:
# 29. Combine two dictionaries and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 3, 'c': 4}

In [32]:
# 30. Convert a list of strings into a set.
list_strings = ["apple", "banana", "apple", "cherry"]
set_strings = set(list_strings)
print(set_strings)

{'banana', 'apple', 'cherry'}